@import "./swal.scss";

//* VARIABLES
$background-primary: rgba(
	$color: #23272a,
	$alpha: 1
);
$background-secondary: rgba(
	$color: #2c2f33,
	$alpha: 1
);
$background-secondary-light: rgba(
	$color: #34383d,
	$alpha: 0.7
);

$primary: rgba(
	$color: #7289da,
	$alpha: 1
);
$secondary: rgba(
	$color: #99aab5,
	$alpha: 1
);

$title: rgba(255, 255, 255, 0.856);
$message-text: rgba(255, 255, 255, 0.596);

//* MAIN STYLES
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	// width: 100vw;
	// height: 100vh;
	overflow: hidden;

	header {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 1em;
		height: 6vh;
		color: $title;
		background-color: $background-primary;

		span {
			width: 48px;
			height: 48px;
			margin: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
			i {
				color: $primary;
			}

			&:hover {
				transform: scale(1.5);
				margin-right: 20px;
			}
		}

		h2 {
			font-family: "Fredoka One", cursive;
		}
	}

	aside {
		width: 100px;
		height: 100%;

		background-color: $background-primary;
		position: absolute;
		display: flex;
		padding: 10px;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;

		p {
			color: $title;
			opacity: 0.7;
			font-size: 0.9em;
		}

		hr {
			width: 80%;
			background-color: $secondary;
			opacity: 0.2;
			margin-bottom: 15px;
		}

		#friends-etc {
			display: flex;
			// background-color: white;
			height: 100px;
			width: 100px;
			flex-grow: 2;
			// align-items: flex-end;
			justify-content: center;
			p {
				align-items: flex-end;
				font-size: 2em;
			}
		}

		figure {
			display: flex;
			margin: 1em;
			align-items: center;
			flex-direction: row;
			&:hover {
				&::before {
					content: "Name";
					transform: rotate(90deg);
					font-size: 0.8em;
					color: $primary;
					position: relative;
				}
			}
		}

		img {
			width: 60px;
			border-radius: 80px;
			border: 3px solid $background-secondary;
			transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
			&:hover {
				transform: scale(1.2);
				cursor: pointer;
				border: 3px solid $primary;
				border-radius: 10px;
				filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
			}
		}
	}

	main {
		margin: 0 0 0 100px;
		width: calc(100% - 100px);
		min-width: 600px;
		height: 100%;
		min-height: 100vh;
		background-color: $background-secondary;
	}

	#message-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 1em;
		max-height: 80vh;
		min-height: 80vh;
		height: 80%;
		overflow-y: scroll;
		::-webkit-scrollbar {
			width: 0px; /* Remove scrollbar space */
			background: transparent; /* Optional: just make scrollbar invisible */
		}
		overflow: -moz-scrollbars-none;
		scrollbar-width: none;

		.message {
			position: relative;
			background: $primary;
			border-radius: 0.4em;
			min-width: 150px;
			max-width: 300px;
			word-wrap: break-word;
			padding: 1em;
			margin: 15px;
			color: white;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 20%;
				width: 0;
				height: 0;
				border: 1.188em solid transparent;
				border-top-color: $primary;
				border-bottom: 0;
				border-left: 0;
				margin-left: -0.594em;
				margin-bottom: -1.187em;
			}
		}
		.myMessage {
			display: flex;
			flex-direction: column;
			align-self: flex-end;
			min-width: 150px;
			max-width: 300px;
			word-wrap: break-word;
			position: relative;
			background: $secondary;
			border-radius: 0.4em;
			padding: 1em;
			margin: 15px;
			color: white;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 80%;
				width: 0;
				height: 0;
				border: 1.188em solid transparent;
				border-top-color: $secondary;
				border-bottom: 0;
				border-left: 0;
				transform: scale(-1, 1);
				margin-left: -0.594em;
				margin-bottom: -1.187em;
			}
		}
		.statusMessage {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			width: 100%;
			color: $secondary;
			height: 30px;
			&::before {
				content: "~";
				margin-right: 10px;
			}
			&::after {
				content: "~";
				margin-left: 10px;
			}
		}
	}

	#send-container {
		margin: 1em;
		height: 3.5em;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		#message-input {
			height: 100%;
			flex-grow: 10;
			padding: 1em;
			background-color: $background-secondary;
			filter: brightness(150%);
			border-radius: 10px 0px 0px 10px;
			border: none;
			color: $message-text;
		}
		#send-button {
			height: 100%;
			flex-grow: 1;
			border-radius: 0px 10px 10px 0px;
			margin-right: 1em;
			border: none;
			background-color: $background-secondary-light;
			color: $message-text;
			width: 7em;

			&:hover {
				cursor: pointer;
				background-color: gray;
			}
		}
	}
}
