@import "./variables.scss";
@import "./mixins.scss";
@import "./responsive.scss";
@import "./swal.scss";

//* MAIN STYLES
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

h2 {
	font-family: "Fredoka One", cursive;
}
