.swal2-popup.swal2-toast {
	box-shadow: 0 0 0.625em rgba($color: #000000, $alpha: 0.6) !important;
	opacity: 0.92;
}

.swal2-title {
	color: white !important;
	text-transform: uppercase !important;
}

.swal2-warning {
	color: rgb(233, 70, 70) !important;
	border-color: rgb(233, 70, 70) !important;
}
